<mat-card class='login'>
  <mat-card-title align="center">
    <h2>Sign in</h2>
  </mat-card-title>
  <mat-card-content>
    <form>
      <div>
        <mat-form-field class="login-full-width">
          <input matInput placeholder="Email-id:" [formControl]="MailIdFormControl" [(ngModel)]="model.email">
          <mat-error *ngIf="MailIdFormControl.hasError('required')">
            Mail-id is required
          </mat-error>
        </mat-form-field>

        <mat-form-field class="login-full-width">
          <input matInput placeholder="Password:" type="password" [formControl]="PasswordFormControl" [(ngModel)]="model.pass">
          <mat-error *ngIf="PasswordFormControl.hasError('required')">
            Password is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="pwd">

        <a href="/ForgotPassword">Forgot Password?</a>
        <!--to link the other site -->
      </div>

      <button class="login1-full-width" mat-button color type="submit" (click)="s_login()">SIGN IN </button>
      <div *ngIf="Error" class="UserError">
        User entered wrong email or password
      </div>
      <div align="center" xfbml-parse>
        <h4>or Sign in with:</h4>
        <!-- <button class="facebook" (click)="socialSignIn('facebook')">
          <img src="../../assets/icons8-facebook.svg">
        </button> -->
        <button (click)="socialSignIn('facebook')">
            Sign in with Facebook123
            </button><button (click)="socialSignIn('google')">
                Sign in with google
                </button>


       
        <div id="fb-root"></div>
        <div class="fb-login-button" 
        data-max-rows="1" data-size="large" data-button-type="continue_with" 
        data-show-faces="false" data-auto-logout-link="false" 
        data-use-continue-as="false"></div> 
        <!-- <div class="fb-login-button" 
        data-show-faces="true" data-width="200" data-max-rows="1"
        (click)="checkLoginState()"
        >Login w/ Facebook</div> -->

        <!-- <img src="../../assets/icons8-google.svg"> -->

      </div>
      
      <hr>
      <!--instead of mat divider-->
      <!-- 
      <mat-divider></mat-divider> -->
      <div class="signUp">

        <a href="/registration">Sign Up?</a>
        <!--to link the other site -->
      </div>


    </form>

  </mat-card-content>
</mat-card>